{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>

      <form action="/addToDo" method="post">
        <input type="text" id="to_do_title" name="to_do_title" placeholder="Title of To-Do"> <br>
        <button type="submit">Submit</button>
      </form>
      
      <ul class="list-group mb-4">
        <!-- List the todo items here -->

        {% for item in items %}
          <li>
            <input class="form-check-input" type="checkbox" value="{{ item.id }}" id="status_{{ item.id }}" {% if item.status == 'Complete' %} checked {% endif %} onchange="statusCheckBoxChange('{{ item.id }}')"/>
            {{ item.title }}
          </li>
        {% endfor %}

      </ul>
    </div>
  </div>
{% endblock %}